# Django
Django==3.0.5
pytz==2019.3

# Python Decouple
python-decouple==3.3

# DJ Database URL
dj-database-url==0.5.0

# PsycoPG
psycopg2==2.8.4
psycopg2-binary==2.8.4

# Heroku
django-heroku==0.3.1
gunicorn==20.0.4
whitenoise==5.0.1

# QRcode
django-qr-code==1.1.0
qrcode==6.1
six==1.14.0

# Sentry
certifi==2019.11.28
sentry-sdk==0.14.2
urllib3==1.25.8

# Cloudinary
chardet==3.0.4
cloudinary==1.20.0
dj3-cloudinary-storage==0.0.1
idna==2.9
mock==4.0.1
requests==2.23.0
