# Django
Django==3.0
pytz==2019.3
sqlparse==0.3.0

# Django 3.0
asgiref==3.2.3

# Python Decouple
python-decouple==3.3

# DJ Database URL
dj-database-url==0.5.0

# PsycoPG
psycopg2==2.8.4
psycopg2-binary==2.8.4

# Heroku
django-heroku==0.3.1
gunicorn==20.0.4
whitenoise==4.1.4

# QRcode
django-qr-code==1.1.0
qrcode==6.1
six==1.13.0

# Sentry
certifi==2019.11.28
sentry-sdk==0.13.5
urllib3==1.25.7

# Cloudinary
chardet==3.0.4
cloudinary==1.19.1
django-cloudinary-storage==0.2.3
idna==2.8
mock==3.0.5
requests==2.22.0
