# Code Style
pycodestyle==2.6.0

# Flake8
entrypoints==0.3
flake8==3.9.1
mccabe==0.6.1
pyflakes==2.2.0

# Coverage
coverage==5.2.1

# DebugToolbar
django-debug-toolbar==2.2

# Responses
responses==0.10.15

-r requirements.txt
