{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Login</h3>

                    <span class="mb-0 text-muted">
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                            Seu usuário e senha não correspondem. Por favor, tente novamente.
                        </div>
                        {% endif %}

                        {% if next %}
                            {% if user.is_authenticated %}
                                <div class="alert alert-primary" role="alert">
                                Sua conta não tem acesso a esta página. Para proseguir, acesse com outra conta.
                            </div>
                            {% else %}
                                <div class="alert alert-secondary" role="alert">
                                Por favor, faça login para visualizar esta página.
                            </div>
                            {% endif %}
                        {% endif %}
                    </span>

                    <br/>
                    <br/>

                    <form role="form" method="post" action="">

                        {% csrf_token %}

                        <div class="input-group mb-3">
                            <input type="text" name="username" autofocus="" maxlength="254" placeholder="Username" class="form-control" autocomplete="off" required="" id="id_username">
                        </div>

                        <div class="input-group mb-4">
                            <input type="password" name="password" placeholder="Password" class="form-control" autocomplete="off" required="" id="id_password">
                        </div>

                        <input type="hidden" name="next" value="{{ next }}"/>

                        <button type="submit" name="login" class="btn btn-primary shadow-2 mb-4">Login</button>

                    </form>

                    <p class="mb-0 text-muted">Esqueceu a senha? <a href={% url 'password_reset' %}>Recuperar</a></p>
                    <br/>
                    <p class="mb-2 text-muted">
                        &copy; <a href="{% url 'index' %}">DjangoMenu</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
