{% extends "base.html" %}

{% block extra_css %}
    <style>
        .food-menu-item {
            border-bottom-style: dotted;
            border-color: gray;
        }
        .food-category-title {
            border-bottom-style: dotted;
            border-color: gray;
        }
    </style>
{% endblock extra_css %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center mt-5">
            <h2 class="text-center food-category-title">Pizzas</h2>
        </div>

        {% regroup variacoes by product as variacoes_list %}
        {% for variacao in variacoes_list %}

            <div class="row justify-content-between align-items-center food-menu-item">
                <div class='col-lg-9'>
                    <h2 class='mt-2'>{{ variacao.grouper }}</h2>
                    <p>{{ variacao.grouper.description }}</p>
                </div>
                <div class="col-lg-3 flex-row d-flex">
                    {% for variacao in variacao.list %}
                        <div class='col'>
                            <a class="btn btn-primary my-4" href="#" role="button">{{ variacao.variation }}:<br>
                                R$ {{ variacao.price }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <div class="d-flex justify-content-center mt-5">
            <h2 class="text-center food-category-title">Bebidas</h2>
        </div>

        <div class="row justify-content-between align-items-center food-menu-item">
            {% for bebida in bebidas %}
                <div class='col-lg-9'>
                    <h2 class='mt-2'>{{ bebida.product.name }}</h2>
                </div>
                <div class="col-lg-3 flex-row d-flex">
                    <div class="col"></div>
                    <div class='col'>
                        <a class="btn btn-primary my-4" href="#" role="button">R$ {{ bebida.product.price }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock content %}