{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <style>
        .food-menu-item {
            border-bottom-style: dotted;
            border-color: gray;
        }

        .food-category-title {
            border-bottom-style: dotted;
            border-color: gray;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Sample Page</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Sample Page</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="row">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="col-12">
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        {{ message|safe }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Hello card</h5>
                                </div>
                                <div class="card-block">
                                    {% for variacao in variacoes %}
                                        <div class="row justify-content-between align-items-center food-menu-item">
                                            <div class='col-lg-9'>
                                                <h2 class='mt-2'>{{ variacao.name }}</h2>
                                                <p>{{ variacao.description }}</p>
                                            </div>
                                            <div class="col-lg-3 flex-row d-flex">
                                                <div class="col"></div>
                                                <div class='col'>
                                                    {% if variacao.productvariation_set.count <= 1 %}
                                                        <a class="btn btn-primary my-4" href="#" role="button">
                                                            {{ variacao.productvariation_set.count }} item
                                                        </a>
                                                    {% else %}
                                                        <a class="btn btn-primary my-4" href="#" role="button">
                                                            {{ variacao.productvariation_set.count }} itens
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <h2 class="text-center food-category-title">Variações</h2>
    </div>


</div>
