{% extends "base.html" %}

{% block extra_css %}
    <style>
        .food-menu-item {
            border-bottom-style: dotted;
            border-color: gray;
        }

        .food-category-title {
            border-bottom-style: dotted;
            border-color: gray;
        }
    </style>
{% endblock extra_css %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center mt-5">
            <h2 class="text-center food-category-title">Produtos simples</h2>
        </div>

        <div class="row">
            {% if messages %}
                {% for message in messages %}
                    <div class="col-12">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message|safe }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="row justify-content-between align-items-center food-menu-item">
            {% for product in produtos_simples %}
                <div class='col-lg-9'>
                    <h2 class='mt-2'>{{ product.name }}</h2>
                </div>
                <div class="col-lg-3 flex-row d-flex">
                    <div class="col"></div>
                    <div class='col'>
                        <a class="btn btn-primary my-4" href="#" role="button">R$ {{ product.price }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center mt-5">
            <h2 class="text-center food-category-title">Produtos variáveis</h2>
        </div>

        {% regroup variacoes by product as variacoes_list %}
        {% for variacao in variacoes_list %}

            <div class="row justify-content-between align-items-center food-menu-item">
                <div class='col-lg-9'>
                    <h2 class='mt-2'>{{ variacao.grouper }}</h2>
                    <p>{{ variacao.grouper.description }}</p>
                </div>
                <div class="col-lg-3 flex-row d-flex">
                    {% for variacao in variacao.list %}
                        <div class='col'>
                            <a class="btn btn-primary my-4" href="#" role="button">{{ variacao.variation }}:<br>
                                R$ {{ variacao.price }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock content %}