{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="display-4">Django Menu</h1>
                    <p class="lead">A simple solution for restaurants and pizzerias.</p>
                    <hr class="my-4">
                    <p>Django Menu is a simple menu application for the django framework. Django Menu is an ideal
                        application
                        for any size restaurant wishing to display their menu on a django site.</p>
                    <a class="btn btn-primary btn-lg my-3" href="https://github.com/tiagocordeiro/djmenu"
                       role="button" target="_blank">
                        <i class="fab fa-github"></i> Github
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6Hlx33WapPo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}