{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Django Menu</h1>
            <p class="lead">A simple solution for restaurants and pizzerias.</p>
            <hr class="my-4">
            <p>Django Menu is a simple menu application for the django framework. Django Menu is an ideal application
                for any size restaurant wishing to display their menu on a django site.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
{% endblock content %}