{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!--[ daily sales section ] start-->
                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-zap f-30 text-c-green"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{ resumo.total_produtos }}</h3>
                                            <span class="d-block text-uppercase">PRODUTOS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ daily sales section ] end-->
                        <!--[ Monthly  sales section ] starts-->
                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-map-pin f-30 text-c-blue"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{ resumo.total_categorias }}</h3>
                                            <span class="d-block text-uppercase">CATEGORIAS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Monthly  sales section ] end-->
                        <!--[ year  sales section ] starts-->
                        <div class="col-md-12 col-xl-4">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-zap f-30 text-c-green"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{ resumo.total_cardapios }}</h3>
                                            <span class="d-block text-uppercase">CARDÁPIOS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ year  sales section ] end-->
                        <!--[ Recent Users ] start-->
                        <div class="col-xl-8 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Recent Users</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="{% static '/assets/images/user/avatar-1.jpg' %}" alt="activity-user"></td>
                                                    <td>
                                                        <h6 class="mb-1">Isabella Christensen</h6>
                                                        <p class="m-0">Lorem Ipsum is simply…</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>11 MAY 12:56</h6>
                                                    </td>
                                                    <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!" class="label theme-bg text-white f-12">Approve</a></td>
                                                </tr>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="{% static '/assets/images/user/avatar-2.jpg' %}" alt="activity-user"></td>
                                                    <td>
                                                        <h6 class="mb-1">Mathilde Andersen</h6>
                                                        <p class="m-0">Lorem Ipsum is simply text of…</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>11 MAY 10:35</h6>
                                                    </td>
                                                    <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!" class="label theme-bg text-white f-12">Approve</a></td>
                                                </tr>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="{% static '/assets/images/user/avatar-3.jpg' %}" alt="activity-user"></td>
                                                    <td>
                                                        <h6 class="mb-1">Karla Sorensen</h6>
                                                        <p class="m-0">Lorem Ipsum is simply…</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>9 MAY 17:38</h6>
                                                    </td>
                                                    <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!" class="label theme-bg text-white f-12">Approve</a></td>
                                                </tr>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="{% static '/assets/images/user/avatar-1.jpg' %}" alt="activity-user"></td>
                                                    <td>
                                                        <h6 class="mb-1">Ida Jorgensen</h6>
                                                        <p class="m-0">Lorem Ipsum is simply text of…</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted f-w-300"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>19 MAY 12:56</h6>
                                                    </td>
                                                    <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!" class="label theme-bg text-white f-12">Approve</a></td>
                                                </tr>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="{% static '/assets/images/user/avatar-2.jpg' %}" alt="activity-user"></td>
                                                    <td>
                                                        <h6 class="mb-1">Albert Andersen</h6>
                                                        <p class="m-0">Lorem Ipsum is simply dummy…</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>21 July 12:56</h6>
                                                    </td>
                                                    <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!" class="label theme-bg text-white f-12">Approve</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Recent Users ] end-->

                        <!-- [ statistics year chart ] start -->
                        <div class="col-xl-4 col-md-6">
                            <div class="card card-event">
                                <div class="card-block">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col">
                                            <h5 class="m-0">Upcoming Updates</h5>
                                        </div>
                                        <div class="col-auto">
                                            <label class="label theme-bg2 text-white f-14 f-w-400 float-right">34%</label>
                                        </div>
                                    </div>
                                    <h2 class="mt-3 f-w-300">03<sub class="text-muted f-14"> novos recursos</sub></h2>
                                    <h6 class="text-muted mt-4 mb-0">Você também pode contribuir </h6>
                                    <i class="fab fa-angellist text-c-purple f-50"></i>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block border-bottom">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-zap f-30 text-c-green"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">235</h3>
                                            <span class="d-block text-uppercase">TOTAL IDEAS</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-map-pin f-30 text-c-blue"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">26</h3>
                                            <span class="d-block text-uppercase">TOTAL LOCATIONS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ statistics year chart ] end -->
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
