<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .food-menu-item {
            border-bottom-style: dotted;
            border-color: gray;
        }

        .food-category-title {
            border-bottom-style: dotted;
            border-color: gray;
        }
    </style>

    <title>{{ menu_title }}</title>
</head>
<body>

<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <h1 class="text-center food-category-title">{{ menu_title }}</h1>
    </div>

    {% for category in menu %}
        <div class="d-flex justify-content-center mt-5">
            <h2 class="text-center food-category-title">{{ category.category }}</h2>
        </div>

        {% for item in category.itens %}

            <div class="row justify-content-between align-items-center food-menu-item">
                <div class='col'>
                    <h4 class="mt-4">{{ item.product.name }}</h4>
                    {% if item.product.description %}
                        <p>{{ item.product.description }}</p>
                    {% endif %}
                </div>
                <div class="d-flex">
                    {% if item.product.price|length > 1 %}
                        {% for variacao in item.product.price %}
                            <div class='col'>
                                <h5><span class="badge badge-primary my-4 p-3">{{ variacao.variation_name }}:<hr>R$ {{ variacao.variation_price }}</span></h5>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class='col'>
                            <h5><span class="badge badge-primary my-4 p-3">R$ {{ item.product.price }}</span></h5>
                        </div>
                    {% endif %}

                </div>
            </div>


        {% endfor %}
    {% endfor %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>
</body>
</html>