<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        @page {
            size: A4;
            margin: 2cm;
        }
        .flex {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .flex-wrap {
            flex-wrap: wrap;
        }

        .item {
            text-align: center;
            font-size: 1.5em;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{ menu_title }}</title>
</head>

<body>

<section class="sheet padding-10mm container flex flex-wrap">
<h1 class="text-center food-category-title">{{ menu_title }}</h1>

{% for category in menu %}
    <h2>{{ category.category }}</h2>

    <table>
        {% for item in category.itens %}
            <tr>
                <td>
                    <h4>{{ item.product.name }}</h4>
                    {% if item.product.description %}
                        <p>{{ item.product.description }}</p>
                    {% endif %}
                </td>
                <td>
                    {% if item.product.price|length > 1 %}
                        {% for variacao in item.product.price %}
                            <h5><span style="font-size: 12px;">{{ variacao.variation_name }} R$ </span>{{ variacao.variation_price }}</h5>
                        {% endfor %}
                    {% else %}
                            <h5><span style="font-size: 12px;">R$ </span> {{ item.product.price }}</h5>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endfor %}


{% for category in menu %}
    <div class="d-flex justify-content-center mt-5">
        <h2 class="text-center food-category-title">{{ category.category }}</h2>
    </div>

    {% for item in category.itens %}

        <div class="row">
            <div class='col'>
                <h4 class="mt-4">{{ item.product.name }}</h4>
                {% if item.product.description %}
                    <p>{{ item.product.description }}</p>
                {% endif %}
            </div>
            <div class="col">
                {% if item.product.price|length > 1 %}
                    {% for variacao in item.product.price %}
                        <div class='col' style="float: right;">
                            <h5><span class="badge badge-primary my-4 p-3">{{ variacao.variation_name }}:<hr>R$ {{ variacao.variation_price }}</span>
                            </h5>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class='col'>
                        <h5><span class="badge badge-primary my-4 p-3">R$ {{ item.product.price }}</span></h5>
                    </div>
                {% endif %}

            </div>
        </div>


    {% endfor %}
{% endfor %}

</section>
</body>
</html>